<header class="main-header fotografia" >
    <!-- <img src="/images/sillon-amarillo.jpeg" alt="">-->
    <div class="parte-top">               
     <div class="primera-linea">
        <a href="/">
        <img src="/images/logo.png" class="logo">
        </a> 
         <nav class="listado-top">
             <ul>
                 <li><a href="/">Home</a></li>
                 <li><a href="/products/">Catálogo</a></li>
                 <li><a href="/products/create">Crear Producto</a></li>
                 <li><a href="/users/login">Iniciar Sesión</a></li>
                 <li><a href="/users/carrito/2">Carrito</a></li>
            </ul>
         </nav>

         <!-- <nav class="iconos-header-mobile"> -->
             <ul class="iconos-top-mobile">
                 <li><i class="fa-solid fa-cart-arrow-down"></i></li>
                 <li><i class="fa-solid fa-magnifying-glass"></i></li>
                 <li><i class="fa-solid fa-bars"></i></li>
             </ul>
         <!-- </nav> -->
     </div>


 </div>
 
</header>