<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/4fea1b8ebf.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/styles.css">
        <title>Deco Digital</title>
    </head>
    <body>
        <header class="main-header fotografia" >
               <!-- <img src="/images/sillon-amarillo.jpeg" alt="">-->
                <div class="parte-top">               
                    <div class="primera-linea">
                        <img src="/images/logo.png" class="logo">
                        <nav class="listado-top">
                            <ul>
                                <li><a href="#">INICIO</a><i class="fa-solid fa-house"></i></li>
                                <li><a href="#">PRODUCTOS</a><i class="fa-sharp fa-solid fa-arrow-right"></i></li>
                                <li><a href="#">CONTACTO</a><i class="fa-regular fa-address-card"></i></li>
                                <li><a href="/views/cart.html">CARRITO</a><i class="fa-sharp fa-solid fa-cart-shopping"></i></li>
                            </ul>
                        </nav>
        
                        <!-- <nav class="iconos-header-mobile"> -->
                            <ul>
                                <li><i class="fa-solid fa-cart-shopping"></i></li>
                                <li><i class="fa-solid fa-magnifying-glass"></i></li>
                                <li><i class="fa-solid fa-bars"></i></li>
                            </ul>
                        <!-- </nav> -->
                  
                
        </header>
        
        <main>
            <div class="caja-de-opciones"></div>
            <div class="opciones-box"></div>
            <div class="opciones-dentro-box">
            <p class="carrito-de-compras1">1.Carrito de Compras</p>
            <p class="2.Detalles-de-Envio">2.Detalles de Envio</p>
            <p class="3.Opciones-de-Pago">3.Opciones de Pago</p>
        </div>
        </main>
        
        <footer>
        <div class="contenedor-top-footer">
            <div class="footer1">
                <ul class="list-footer1"> 
                    <h2> Enlaces </h2> 
                    <li class="footer-item"><a class="enlaces-footer" href="#">Inicio</a></li>
                    <li class="footer-item"><a class="enlaces-footer" href="#">Nosotros</a></li>
                    <li class="footer-item"><a class="enlaces-footer" href="#">Catálogo</a></li>
                    <li class="footer-item"><a class="enlaces-footer" href="#">Contacto</a></li>
                </ul>
            </div>
            <div class="footer2">
                <ul class="list-footer2">
                    <h2 > Ayuda </h2>
                    <li class="footer-item"><a href="#" class="enlaces-footer">Cambios y devoluciones</a></li>
                    <li class="footer-item"><a href="#" class="enlaces-footer">Términos y condiciones</a></li>
                    <li class="footer-item"><a href="#" class="enlaces-footer">Política de privacidad</a></li>
                    <li class="footer-item"><a href="#" class="enlaces-footer">Información sobre envíos</a></li>
                </ul>
            </div>
        </div>
            
            <div class="footer3">
                <ul class="list-footer-icons">
                    <li class="footer-icon"><a href="#" class="enlaces-footer-redes"> <i class="fa-brands fa-instagram"></i></a></li>
                    <li class="footer-icon"><a href="#" class="enlaces-footer-redes"> <i class="fa-brands fa-facebook"></i></a></li>
                    <li class="footer-icon"><a href="#" class="enlaces-footer-redes"> <i class="fa-solid fa-envelope"></i></a></li>
                    <li class="footer-icon"><a href="#" class="enlaces-footer-redes"> <i class="fa-brands fa-whatsapp"></i></a></li>
                </ul>
            </div>
        <div class="marca-registrada">
            <h1>
                Copyright © 2022 Digital Deco House ®
            </h1>
        </div>
        
        </footer>  
        </body>
</html>