<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/styles.css">
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans&family=Oswald:wght@400;500&family=Roboto&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/4fea1b8ebf.js" crossorigin="anonymous"></script>
        <title>Digital Deco House</title>
    </head>
    <body>
        <header class="main-header fotografia" >
            <!-- <img src="/images/sillon-amarillo.jpeg" alt="">-->
             <div class="parte-top">               
                 <div class="primera-linea">
                     <img src="/images/logo.png" class="logo">
                     <nav class="listado-top">
                         <ul>
                             <li><a href="/">Inicio</a></li>
                             <li><a href="/views/products.html">Catálogo </a></li>
                             <li><a href="/views/login.html">Iniciar Sesión / Registrarse </a></li>
                             <li><a href="/views/cart.html">Carrito</a></li>
     
                             
                         </ul>
                     </nav>
     
                     <!-- <nav class="iconos-header-mobile"> -->
                         <ul class="iconos-top-mobile">
                             <li><i class="fa-solid fa-cart-arrow-down"></i></li>
                             <li><i class="fa-solid fa-magnifying-glass"></i></li>
                             <li><i class="fa-solid fa-bars"></i></li>
                         </ul>
                     <!-- </nav> -->
                 </div>
                 <div class="segunda-linea">
                     <h5 class="welcome">¡BIENVENIDOS!</h5>
                     <h5 class="borde-bajo">Somos una tienda de diseños únicos y personalizados.</h5>
                 </div>
     
             </div>
             
     </header>
        
     <main class="main-carrito">
        <div class="opciones-box"></div>
        <div class="opciones-dentro-box">
            <p class="compras">1.Carrito de Compras</p>
            <p class="envio">2.Detalles de Envio</p>
            <p class="pago">3.Opciones de Pago</p>
        </div>
        
        <div class="linea-opciones"></div>
        <div class="linea-carrito-de-compras"></div>
        <div class="linea-carrito-de-compras2"></div>
        <p class="Carrito-de-Compras">Carrito de Compras</p>
        <p class="Resumen">Resumen</p>
        
    
      
        <div class="Subtotal-Envio-Impuestos">
            <p>Subtotal</p>
            <p>Envio</p>
            <p>Impuestos</p>
        
        </div>
        <div class="precios">
            <p>$600</p>
            <p>$0</p>
            <p>$13</p>
        
        </div>
       
        <p class="total">total</p>
        <p class="numero613">$613</p>
        <img class="silla1" src="https://www.modularesdepino.com.ar/wp-content/uploads/2018/05/Silla-4-fajas.jpg" alt="silla1">
        <img class="escritorio" src="https://d2r9epyceweg5n.cloudfront.net/stores/001/488/711/products/121-b2a15ff1e1721aa76316232534839733-640-0.png" alt="escritorio">
        <input class="continuar" type="button" value="continuar">
        <input class="cancelar" type="button" value="cancelar">
        <input class="casilla1" type="submit" value="1">
        <input class="casilla2" type="submit" value="1">
        <p class="silla-dc">Silla Gamer</p>
        <p class="escritorio-dc">Escritorio Gamer</p>
        <p class="silla-precio">$300</p>
        <p class="escritorio-precio">$300</p>
    </main>
        
<footer>
    <section class="big-container">    
        <div class="contenedor-top-footer">
            <div class="footer1">
                <ul class="list-footer1"> 
                    <h2> Enlaces </h2> 
                    <li class="footer-item"><a class="enlaces-footer" href="#">Inicio</a></li>
                    <li class="footer-item"><a class="enlaces-footer" href="#">Nosotros</a></li>
                    <li class="footer-item"><a class="enlaces-footer" href="#">Catálogo</a></li>
                    <li class="footer-item"><a class="enlaces-footer" href="#">Contacto</a></li>
                </ul>
            </div>
            <div class="footer2">
                <ul class="list-footer2">
                    <h2 > Ayuda </h2>
                    <li class="footer-item"><a href="#" class="enlaces-footer">Cambios y devoluciones</a></li>
                    <li class="footer-item"><a href="#" class="enlaces-footer">Términos y condiciones</a></li>
                    <li class="footer-item"><a href="#" class="enlaces-footer">Política de privacidad</a></li>
                    <li class="footer-item"><a href="#" class="enlaces-footer">Información sobre envíos</a></li>
                </ul>
            </div>
        </div>
            
            <div class="footer3">
                <ul class="list-footer-icons">
                    <li class="footer-icon"><a href="#" class="enlaces-footer-redes"> <i class="fa-brands fa-instagram"></i></a></li>
                    <li class="footer-icon"><a href="#" class="enlaces-footer-redes"> <i class="fa-brands fa-facebook"></i></a></li>
                    <li class="footer-icon"><a href="#" class="enlaces-footer-redes"> <i class="fa-solid fa-envelope"></i></a></li>
                    <li class="footer-icon"><a href="#" class="enlaces-footer-redes"> <i class="fa-brands fa-whatsapp"></i></a></li>
                </ul>
            </div>
    </section>
    <div class="marca-registrada">
        <h1>
            Copyright © 2022 Digital Deco House ®
        </h1>
    </div>
</footer>  
        </body>
</html>