<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/4fea1b8ebf.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Deco Digital</title>
</head>
<body>
    <header class="main-header fotografia" >
        <!-- <img src="/images/sillon-amarillo.jpeg" alt="">-->
         <div class="parte-top">               
             <div class="primera-linea">
                 <img src="/images/logo.png" class="logo">
                 <nav class="listado-top">
                     <ul>
                         <li><a href="/">Inicio</a></li>
                         <li><a href="/views/products.html">Catálogo </a></li>
                         <li><a href="/views/login.html">Iniciar Sesión / Registrarse </a></li>
                         <li><a href="/views/cart.html">Carrito</a></li>
 
                         
                     </ul>
                 </nav>
 
                 <!-- <nav class="iconos-header-mobile"> -->
                     <ul class="iconos-top-mobile">
                         <li><i class="fa-solid fa-cart-arrow-down"></i></li>
                         <li><i class="fa-solid fa-magnifying-glass"></i></li>
                         <li><i class="fa-solid fa-bars"></i></li>
                     </ul>
                 <!-- </nav> -->
             </div>
             <div class="segunda-linea">
                 <h5 class="welcome">¡BIENVENIDOS!</h5>
                 <h5 class="borde-bajo">Somos una tienda de diseños únicos y personalizados.</h5>
             </div>
 
         </div>
         
 </header>

<main class="el-main">
    <div class="contenedor-slider">

        <ul>
            <li><img src="/images/gris-oscuro-2.jpg"></li>
            <li><img src="/images/sillon-blanco.jpeg" ></li>
            <li><img src="/images/sillon-amarillo-2.jpg" ></li>
            <li><img src="/images/sillon-sofa-gris.jpg" ></li>
            <li><img src="/images/sillon-exterior.jpg" ></li>
        </ul>
    
    </div>
    <div class="cuotas">
        <h6>APROVECHA LAS 3, 6 y 12 CUOTAS SIN INTERES CON TARJETAS DE CRÉDITO</h6>
    </div>

    <div class="productosdestacados">
        <p>Productos Destacados</p>
    </div>
    <div class="contenedor-img">
        <nav class="productos">
            <div class="imagenes">
            <img src="/images/espejo.jpeg"></img>
            <div class="descripcion">
                <p>Espejo Redondo EGIPTO </p>
                <i class="fa-solid fa-truck"></i>
            </div>
            </div>
        </nav>

        <nav class="productos">
            <div class="imagenes">
            <img src="/images/silla-y-funda.jpeg"></img>
            <div class="descripcion">
                <p>Silla de roble MADRID</p>
                <i class="fa-solid fa-truck"></i>
            </div>
            </div>
        </nav>

        <nav class="productos">
            <div class="imagenes">
            <img src="/images/sillon-y-funda.jpeg"></img>
            <div class="descripcion">
                <p>Sillon tres cuerpos BRASIL</p>
                <i class="fa-solid fa-truck"></i>
            </div>
            </div>
        </nav>
    <section class="ocultando-imagen">
        <nav class="productos">
            <div class="imagenes">
            <img src="/images/silla-y-maceta.jpeg"></img>
            <div class="descripcion">
                <p>Silla escritorio RUSIA</p>
                <i class="fa-solid fa-truck"></i>
            </div>
            </div>
        </nav>
    </section>
        <nav class="productos">
            <div class="imagenes">
            <img src="/images/silla.jpeg"></img>
            <div class="descripcion">
                <p>Silla oficina PARIS</p>
                <i class="fa-solid fa-truck"></i>
            </div>
            </div>
        </nav>
    </div>

</main>
<footer>
    <div class="contenedor-top-footer">
        <div class="footer1">
            <ul class="list-footer1"> 
                <h2> Enlaces </h2> 
                <li class="footer-item"><a class="enlaces-footer" href="#">Inicio</a></li>
                <li class="footer-item"><a class="enlaces-footer" href="#">Nosotros</a></li>
                <li class="footer-item"><a class="enlaces-footer" href="#">Catálogo</a></li>
                <li class="footer-item"><a class="enlaces-footer" href="#">Contacto</a></li>
            </ul>
        </div>
        <div class="footer2">
            <ul class="list-footer2">
                <h2 > Ayuda </h2>
                <li class="footer-item"><a href="#" class="enlaces-footer">Cambios y devoluciones</a></li>
                <li class="footer-item"><a href="#" class="enlaces-footer">Términos y condiciones</a></li>
                <li class="footer-item"><a href="#" class="enlaces-footer">Política de privacidad</a></li>
                <li class="footer-item"><a href="#" class="enlaces-footer">Información sobre envíos</a></li>
            </ul>
        </div>
    </div>
        
        <div class="footer3">
            <ul class="list-footer-icons">
                <li class="footer-icon"><a href="#" class="enlaces-footer-redes"> <i class="fa-brands fa-instagram"></i></a></li>
                <li class="footer-icon"><a href="#" class="enlaces-footer-redes"> <i class="fa-brands fa-facebook"></i></a></li>
                <li class="footer-icon"><a href="#" class="enlaces-footer-redes"> <i class="fa-solid fa-envelope"></i></a></li>
                <li class="footer-icon"><a href="#" class="enlaces-footer-redes"> <i class="fa-brands fa-whatsapp"></i></a></li>
            </ul>
        </div>
    <div class="marca-registrada">
        <h1>
            Copyright © 2022 Digital Deco House ®
        </h1>
    </div>
    
</footer>
   
</body>
</html>