<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<body>
    <header class="main.header">

        <article class="second-header">
        <div class="logo1">

            <img src="/images/logo.png" class="logo">

        </div>
        <nav class="primer-listado">
            <ul>
                <li><a href="#">INICIO</a></li>
                <li><a href="#">PRODUCTOS</a></li>
                <li><a href="#">CONTACTO</a></li>
                <li><a href="#">CARRITO</a></li>
            </ul>
        </nav>
        <div>

        <img src="/images/sillon-amarillo.jpeg" class="sillon-amarillo">

        </div> 
        </article>


    </header>

    <main>
        <h1> Esto es el main</h1>
    </main>
    <footer>
        <h1>Esto es el footer</h1>
    </footer>
</body>
</html>