<!DOCTYPE html>
<html lang="en">
    <%-include ("./partials/head")%>
<body>

    <%-include ("./partials/header")%>


<main class="el-main">
    <div class="contenedor-slider">

        <ul>
            <li><img src="/images/gris-oscuro-2.jpg"></li>
            <li><img src="/images/sillon-blanco.jpeg" ></li>
            <li><img src="/images/sillon-amarillo.jpg" ></li>
            <li><img src="/images/sillon-sofa-gris.jpg" ></li>
            <li><img src="/images/sillon-exterior.jpg" ></li>
        </ul>
    
    </div>
    <div class="cuotas">
        <h6>APROVECHA LAS 3, 6 y 12 CUOTAS SIN INTERES CON TARJETAS DE CRÉDITO</h6>
    </div>

    <div class="productosdestacados">
        <p>Productos Destacados</p>
    </div>
    <div class="contenedor-img">
        <nav class="productos">
            <div class="imagenes">
            <img src="/images/espejo.jpeg"></img>
            <div class="descripcion">
                <p>Espejo Redondo EGIPTO </p>
                <i class="fa-solid fa-truck"></i>
            </div>
            </div>
        </nav>

        <nav class="productos">
            <div class="imagenes">
            <img src="/images/silla-y-funda.jpeg"></img>
            <div class="descripcion">
                <p>Silla de roble MADRID</p>
                <i class="fa-solid fa-truck"></i>
            </div>
            </div>
        </nav>

        <nav class="productos">
            <div class="imagenes">
            <img src="/images/sillon-y-funda.jpeg"></img>
            <div class="descripcion">
                <p>Sillon tres cuerpos BRASIL</p>
                <i class="fa-solid fa-truck"></i>
            </div>
            </div>
        </nav>
    <section class="ocultando-imagen">
        <nav class="productos">
            <div class="imagenes">
            <img src="/images/silla-y-maceta.jpeg"></img>
            <div class="descripcion">
                <p>Silla escritorio RUSIA</p>
                <i class="fa-solid fa-truck"></i>
            </div>
            </div>
        </nav>
    </section>
        <nav class="productos">
            <div class="imagenes">
            <img src="/images/silla.jpeg"></img>
            <div class="descripcion">
                <p>Silla oficina PARIS</p>
                <i class="fa-solid fa-truck"></i>
            </div>
            </div>
        </nav>
    </div>

</main>

    <%-include ("./partials/footer")%>

</body>
</html>