<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/4fea1b8ebf.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Deco Digital</title>
</head>
<body>
    <header class="main-header" >
       <!-- <img src="/images/sillon-amarillo.jpeg" alt="">-->
        <div class="parte-top">
                  
        <div class="primera-linea">
            <img src="/images/logo.png" class="logo">
            <nav class="listado-top">
            <ul>
                <li><a href="#">INICIO</a></li>
                <li><a href="#">PRODUCTOS</a></li>
                <li><a href="#">CONTACTO</a></li>
                <li><a href="#">CARRITO</a></li>
            </ul>
            </nav>
        </div>
        <div class="segunda-linea">
            <h5>¡BIENVENIDOS!</h5>
            <h5>Somos una tienda de diseños únicos y personalizados.</h5>
        </div>

        </div> 
      


    </header>

    <main class="el-main">
        <div class="cuotas">
            <h6>APROVECHA LAS 3, 6 y 12 CUOTAS SIN INTERES CON TARJETAS DE CRÉDITO</h6>
        </div>

        <div class="productosdestacados">
            <p>Productos Destacados</p>
        </div>

        <nav class="productos">
            <div class="espejo">
            <img src="/images/espejo.jpeg"></img>
            <div class="descripcion">
                <p>Espejo Redondo EGIPTO </p>
                <i class="fa-solid fa-truck"></i>
            </div>
            </div>
        </nav>

        <nav class="productos">
            <div class="espejo">
            <img src="/images/silla-y-funda.jpeg"></img>
            <div class="descripcion">
                <p>Espejo Redondo EGIPTO </p>
                <i class="fa-solid fa-truck"></i>
            </div>
            </div>
        </nav>

        <nav class="productos">
            <div class="espejo">
            <img src="/images/sillon-y-funda.jpeg"></img>
            <div class="descripcion">
                <p>Espejo Redondo EGIPTO </p>
                <i class="fa-solid fa-truck"></i>
            </div>
            </div>
        </nav>

        <nav class="productos">
            <div class="espejo">
            <img src="/images/silla-y-maceta.jpeg"></img>
            <div class="descripcion">
                <p>Espejo Redondo EGIPTO </p>
                <i class="fa-solid fa-truck"></i>
            </div>
            </div>
        </nav>

        <nav class="productos">
            <div class="espejo">
            <img src="/images/silla.jpeg"></img>
            <div class="descripcion">
                <p>Espejo Redondo EGIPTO </p>
                <i class="fa-solid fa-truck"></i>
            </div>
            </div>
        </nav>

    </main>
    <footer>
        <h1>Esto es el footer</h1>
    </footer>
</body>
</html>