<!DOCTYPE html>
<html lang="en">
    <%-include ("./partials/head")%>
<body>
    <%-include ("./partials/header")%>

<main class="main-login-registrarse">
    <div class="div-formularios-monitor">    
        <form action="POST" class="formulario-login">
            <h2>Ingresa <br> a tu cuenta. <br></h2>
            <p>Bienvenido nuevamente. Ingresa tus datos</p>
            <input class="boton-login" type="email" placeholder="E-mail">
            <input class="boton-login" type="password" placeholder="Contraseña" required>
            <input class="boton-login-registrar" type="submit" value="INGRESAR">
            <a href="#">¿Olvidaste tu contraseña?</a>

        </form>

        <form action="POST" class="formulario-registrarse">
            <h2>Registrate <br> ahora. <br></h2>
            <p>Completa los datos para registrarte</p>
            <input class="boton-registrarse" type="email" placeholder="E-mail">
            <input class="boton-registrarse" type="password" placeholder="Contraseña" required>
            <input class="boton-registrarse" type="password" placeholder="Repita Contraseña" required>
            <input class="boton-login-registrar" type="submit" value="REGISTRARME">
            
        </form>
    </div>
    <section class="cartas-beneficios">
        <div class="div-beneficios">
            <i class="fa-solid fa-truck-fast"></i>
            <h2>ENVÍOS A TODO EL PAÍS</h2>
            <p>A todo el país en tiempo record.</p>
        </div>

        <div class="div-beneficios">
            <i class="fa-regular fa-credit-card"></i>
            <h2>HASTA 12 CUOTAS</h2>
            <p>Visa, Mastercard, Amex, Mercado Pago.</p>
        </div>    

        <div class="div-beneficios">
            <i class="fa-solid fa-cubes"></i>
            <h2>ENTREGA INMEDIATA</h2>
            <p>Disponibilidad de stock permanente.</p>
        </div>    

        <div class="div-beneficios">
            <i class="fa-solid fa-phone"></i>
            <h2>VENTA TELEFÓNICA</h2>
            <p>Tel: 4902-0946 Lun a Sab de 10 a 20hs.</p>
        </div>
    </section>

</main>
        <%-include ("./partials/footer")%>
</body>
</html>