<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/4fea1b8ebf.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans&family=Roboto&display=swap" rel="stylesheet">
    <title>Digital Deco House</title>
</head>
<body>
    <header class="main-header">
        <a href="#">
        <img src="/images/logo.png" class="logo">
        </a>

        <!-- Menu Header -->
        <ul class="main-menu-left">
            <li class="menu-item"><a href="#"> Inicio </a></li>
            <li class="menu-item"><a href="#"> Nosotros</a></li>
            <li class="menu-item"><a href="#"> Catálogo</a></li>
            <li class="menu-item"><a href="#"> Contacto</a></li>

        </ul>
        <ul class="main-menu-right">
            <li class="menu-item"><a href="#"> Carrito <i class="fa-solid fa-cart-shopping"></i></a></li>
            <li class="menu-item"><a href="#"> Iniciar sesión <i class="fa-solid fa-right-to-bracket"></i></a></li>
        </ul>
    </header>


    
    <main>
        <section class="formularios-main">
            <div class="formulario-login">
                <div class="titulo-formulario-login">
                    <h2 class="texto-titulo-login">Ingresa <br>a tu cuenta.</h2>
                    <p class="texto-titulo-login">Bienvenido de nuevo, ingrese sus datos.</p>
                </div>
                <form action="POST" class="login">
                    <label for="email" class="label-email">Email</label>
                    <input type="email" id="email" placeholder="E-mail" class="botones-login">
                    
                    <label for="password" class="label-password"> Constraseña</label>
                    <input type="password" id="password" placeholder="Contraseña" required class="botones-login">

                    <a href="#" class="olvidaste">¿Olvidaste tu contraseña?</a>

                    <input type="submit" value="Ingresar" class="boton-ingresar">

                </form>
            </div>

            <div class="formulario-registrarse">
                <div class="titulo-formulario-login">
                    <h2 class="texto-titulo-login">Registrate <br>ahora.</h2>
                    <p class="texto-titulo-login">Completá los datos para registrarte.</p>
                </div>
                <form action="POST" class="login">
                    <label for="email" class="label-email">Email</label>
                    <input type="email" id="email" placeholder="E-mail" class="botones-login">
                    
                    <label for="password" class="label-password"> Constraseña</label>
                    <input type="password" id="password" placeholder="Contraseña" required class="botones-login">

                    <label for="password" class="label-password-restart"> Repetir Constraseña</label>
                    <input type="password" id="password" placeholder="Repita contraseña" required class="botones-login">

                

                    <input type="submit" value="Registrarme" class="boton-ingresar">

                </form>
            </div>
        </section>

        <section class="cartas-main">
            <div class="beneficios"><i class="fa-solid fa-truck-fast" id="iconos-beneficios"><br></i>
                <h2><br> Envíos a todo el país</h2>
            </div>

            <div class="beneficios"><i class="fa-regular fa-credit-card" id="iconos-beneficios"></i>

            </div>
            <div class="beneficios"><i class="fa-solid fa-cubes" id="iconos-beneficios"></i>

            </div>
            <div class="beneficios"><i class="fa-solid fa-phone" id="iconos-beneficios"></i>

            </div>
        </section>
    </main>


    <footer>
        <div class="contenedores-footer">
            <div class="marca">
                <a href="#">
                <h3>Digital Deco House </h3>
                </a>
            </div>
            <div class="footer">
                <ul class="list-footer">  
                    <li class="footer-tittle">DIGITAL DECO HOUSE</li>
                    <li class="footer-item"><a class="enlaces-footer" href="#">Inicio</a></li>
                    <li class="footer-item"><a class="enlaces-footer" href="#">Nosotros</a></li>
                    <li class="footer-item"><a class="enlaces-footer" href="#">Catálogo</a></li>
                    <li class="footer-item"><a class="enlaces-footer" href="#">Contacto</a></li>
                </ul>
            </div>
            <div class="footer">
                <ul class="list-footer">
                    <li class="footer-tittle">AYUDA</li>
                    <li class="footer-item"><a href="#" class="enlaces-footer">Cambios y devoluciones</a></li>
                    <li class="footer-item"><a href="#" class="enlaces-footer">Términos y condiciones</a></li>
                    <li class="footer-item"><a href="#" class="enlaces-footer">Política de privacidad</a></li>
                    <li class="footer-item"><a href="#" class="enlaces-footer">Información sobre envíos</a></li>
                </ul>
            </div>
            <div class="footer">
                <ul class="list-footer-icons">
                    <li class="footer-icon"><a href="#" class="enlaces-footer-redes"> <i class="fa-brands fa-instagram"></i></a></li>
                    <li class="footer-icon"><a href="#" class="enlaces-footer-redes"> <i class="fa-brands fa-facebook"></i></a></li>
                    <li class="footer-icon"><a href="#" class="enlaces-footer-redes"> <i class="fa-solid fa-envelope"></i></a></li>
                    <li class="footer-icon"><a href="#" class="enlaces-footer-redes"> <i class="fa-brands fa-whatsapp"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="marca-registrada">
            <h1>
                Copyright © 2022 Digital Deco House ®
            </h1>
        </div>
        

    </footer>

</body>
</html>