<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/4fea1b8ebf.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans&family=Roboto&display=swap" rel="stylesheet">
    <title>Deco Digital</title>
</head>
<body>
<header class="main-header fotografia" >
       <!-- <img src="/images/sillon-amarillo.jpeg" alt="">-->
        <div class="parte-top">               
            <div class="primera-linea">
                <img src="/images/logo.png" class="logo">
                <nav class="listado-top">
                    <ul>
                        <li><a href="/">Inicio</a></li>
                        <li><a href="/views/products.html">Productos </a></li>
                        <li><a href="/views/login.html">Contacto </a></li>
                        <li><a href="/views/cart.html">Carrito</a></li>

                        
                    </ul>
                </nav>

                <!-- <nav class="iconos-header-mobile"> -->
                    <ul class="iconos-top-mobile">
                        <li><i class="fa-solid fa-cart-arrow-down"></i></li>
                        <li><i class="fa-solid fa-magnifying-glass"></i></li>
                        <li><i class="fa-solid fa-bars"></i></li>
                    </ul>
                <!-- </nav> -->
            </div>
            <!-- <div class="segunda-linea">
                <h5 class="welcome">¡BIENVENIDOS!</h5>
                <h5 class="borde-bajo">Somos una tienda de diseños únicos y personalizados.</h5>
            </div> -->

        </div>
        
</header>

<main class="main-login-registrarse">
    <div class="div-formularios-monitor">    
        <form action="POST" class="formulario-login">
            <h2>Ingresa <br> a tu cuenta. <br></h2>
            <p>Bienvenido nuevamente. Ingresa tus datos</p>
            <input class="boton-login" type="email" placeholder="E-mail">
            <input class="boton-login" type="password" placeholder="Contraseña" required>
            <input class="boton-login-registrar" type="submit" value="INGRESAR">
            <a href="#">¿Olvidaste tu contraseña?</a>

        </form>

        <form action="POST" class="formulario-registrarse">
            <h2>Registrate <br> ahora. <br></h2>
            <p>Completa los datos para registrarte</p>
            <input class="boton-registrarse" type="email" placeholder="E-mail">
            <input class="boton-registrarse" type="password" placeholder="Contraseña" required>
            <input class="boton-registrarse" type="password" placeholder="Repita Contraseña" required>
            <input class="boton-login-registrar" type="submit" value="REGISTRARME">
            
        </form>
    </div>
    <section class="cartas-beneficios">
        <div class="div-beneficios">
            <i class="fa-solid fa-truck-fast"></i>
            <h2>ENVÍOS A TODO EL PAÍS</h2>
            <p>A todo el país en tiempo record.</p>
        </div>

        <div class="div-beneficios">
            <i class="fa-regular fa-credit-card"></i>
            <h2>HASTA 12 CUOTAS</h2>
            <p>Visa, Mastercard, Amex, Mercado Pago.</p>
        </div>    

        <div class="div-beneficios">
            <i class="fa-solid fa-cubes"></i>
            <h2>ENTREGA INMEDIATA</h2>
            <p>Disponibilidad de stock permanente.</p>
        </div>    

        <div class="div-beneficios">
            <i class="fa-solid fa-phone"></i>
            <h2>VENTA TELEFÓNICA</h2>
            <p>Tel: 4902-0946 Lun a Sab de 10 a 20hs.</p>
        </div>
    </section>

</main>
<footer>
<div class="contenedor-top-footer">
    <div class="footer1">
        <ul class="list-footer1"> 
            <h2> Enlaces </h2> 
            <li class="footer-item"><a class="enlaces-footer" href="#">Inicio</a></li>
            <li class="footer-item"><a class="enlaces-footer" href="#">Nosotros</a></li>
            <li class="footer-item"><a class="enlaces-footer" href="#">Catálogo</a></li>
            <li class="footer-item"><a class="enlaces-footer" href="#">Contacto</a></li>
        </ul>
    </div>
    <div class="footer2">
        <ul class="list-footer2">
            <h2 > Ayuda </h2>
            <li class="footer-item"><a href="#" class="enlaces-footer">Cambios y devoluciones</a></li>
            <li class="footer-item"><a href="#" class="enlaces-footer">Términos y condiciones</a></li>
            <li class="footer-item"><a href="#" class="enlaces-footer">Política de privacidad</a></li>
            <li class="footer-item"><a href="#" class="enlaces-footer">Información sobre envíos</a></li>
        </ul>
    </div>
</div>
    
    <div class="footer3">
        <ul class="list-footer-icons">
            <li class="footer-icon"><a href="#" class="enlaces-footer-redes"> <i class="fa-brands fa-instagram"></i></a></li>
            <li class="footer-icon"><a href="#" class="enlaces-footer-redes"> <i class="fa-brands fa-facebook"></i></a></li>
            <li class="footer-icon"><a href="#" class="enlaces-footer-redes"> <i class="fa-solid fa-envelope"></i></a></li>
            <li class="footer-icon"><a href="#" class="enlaces-footer-redes"> <i class="fa-brands fa-whatsapp"></i></a></li>
        </ul>
    </div>
<div class="marca-registrada">
    <h1>
        Copyright © 2022 Digital Deco House ®
    </h1>
</div>

</footer>  
</body>
</html>