<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans&family=Oswald:wght@400;500&family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/4fea1b8ebf.js" crossorigin="anonymous"></script>
    <title>Digital Deco House</title>
</head>
<body>
    <header class="main-header fotografia" >
        <!-- <img src="/images/sillon-amarillo.jpeg" alt="">-->
         <div class="parte-top">               
             <div class="primera-linea">
                 <img src="/images/logo.png" class="logo">
                 <nav class="listado-top">
                     <ul>
                         <li><a href="/">Inicio</a></li>
                         <li><a href="/views/products.html">Catálogo </a></li>
                         <li><a href="/views/login.html">Iniciar Sesión / Registrarse </a></li>
                         <li><a href="/views/cart.html">Carrito</a></li>
 
                         
                     </ul>
                 </nav>
 
                 <!-- <nav class="iconos-header-mobile"> -->
                     <ul class="iconos-top-mobile">
                         <li><i class="fa-solid fa-cart-arrow-down"></i></li>
                         <li><i class="fa-solid fa-magnifying-glass"></i></li>
                         <li><i class="fa-solid fa-bars"></i></li>
                     </ul>
                 <!-- </nav> -->
             </div>

 
         </div>
         
 </header>

    <main class="main-main">
        <div class="div-main">
            <div class="carrusel">
                <ul class="carrusel-fotos">
                  <li id="foto1"><img src="/images/espejo.jpeg" alt=""></li>
                  <li id="foto2"><img src="/images/espejo2.jpeg" alt=""></li>
                  <li id="foto3"><img src="/images/espejo3.jpeg" alt=""></li>
                </ul>
                <ul class="carrusel-menu">
                  <li><a href="#foto1"><img src="/images/espejo.jpeg" alt=""></a></li>
                  <li><a href="#foto2"><img src="/images/espejo2.jpeg" alt=""></a></li>
                  <li><a href="#foto3"><img src="/images/espejo3.jpeg" alt=""></a></li>
                </ul>
            </div>
                <div class="main-detalle">  
                    <div class="detalle">     
                        <h3 class="titulo-producto">Espejo</h3>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star fa-solid2"></i>
                        <p class="puntacion-reviews">10 reviews</p>
                    </div>
                    <div class="descripcion-prod">
                        <p id="precio">$15621</p>
                            <form class="elegir-modelo" action="products.html" method="POST">
                                <label>Elegí color</label>
                                <select name="colores">
                                    <option value="1">Pino</option>
                                    <option value="2">Algarrobo</option>
                                    <option value="3">Roble</option>
                                    <option value="4">Nogal</option>
                                    <option value="5">Melamina</option>
                                </select>
                    </div>
                    <div class="comentario-producto">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem, nulla commodi! Id vel dolorem nihil eos, voluptate aliquam et mollitia. Odit recusandae cupiditate in suscipit facilis qui odio aliquam magni!</p>
                    </div>
                    <button class="button">Añadir a tu carrito</button>
                </div>
        </div>
        <div class="segundo-titulo">
            <h3 class="segundo-titilo-producto">Productos similares</h3>
        </div>
        <div class="detalle2">
            <div class="mobil-detalle2">
                <img src="/images/mesa-exterior.jpeg" class="imagen-productos-similares">
                    <div class="descripcion2">
                        <h2 class="titulo-producto2">Mesa exterior</h2>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star fa-solid2"></i>
                        <p class=>$18654</p>
                    </div>
            </div>
            <div class="tablet-detalle2">
                <img src="/images/mesa-4-patas.jpeg" class="imagen-productos-similares">
                    <div class="descripcion2">
                        <h2 class="titulo-producto2">Mesa Modular</h2>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star fa-solid2"></i>
                            <i class="fa-solid fa-star fa-solid2"></i>
                            <p class=>$10650</p>
                    </div>
            </div>
            <div class="compu-detalle2">
                <img src="/images/mesa-y-sillas.jpeg" class="imagen-productos-similares">
                    <div class="descripcion2">
                        <h2 class="titulo-producto2">Mesa Madera Interior</h2>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <p class=>$58600</p>
                    </div>
            </div>
        </div>
        <div class="titulo-reviews">
            <h2>Reviews</h2>
        </div>
        <div class="reviews">
            <i class="fa-solid fa-user-tie fa-solid-logo"></i>
                <div class="descripcion-reviews">
                    <p>CARLOS MASLATON</p>
                    <p>Agosto 14, 2022</p>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star fa-solid2"></i>
                </div>
                <div>
                    <p class="comentario-reviews">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem eaque sunt dolorum, culpa suscipit temporibus. Magni necessitatibus earum alias reiciendis pariatur iusto beatae, nisi nulla temporibus asperiores accusantium tempora repellat.</p>
                </div>
        </div>
        <div class="reviews">
            <i class="fa-solid fa-user-tie fa-solid-logo"></i>
                <div class="descripcion-reviews">
                    <p>RICARDO FORT</p>
                    <p>Febrero 20, 2022</p>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star fa-solid2"></i>
                </div>
                <div>
                    <p class="comentario-reviews">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur animi repellat eos unde laborum, temporibus architecto libero maiores nemo dolor incidunt nam esse quia, veniam ut eum quo. Id, earum?</p>
                </div>
        </div>

    </main>

    <footer>
        <section class="big-container">    
            <div class="contenedor-top-footer">
                <div class="footer1">
                    <ul class="list-footer1"> 
                        <h2> Enlaces </h2> 
                        <li class="footer-item"><a class="enlaces-footer" href="/">Inicio</a></li>
                        <li class="footer-item"><a class="enlaces-footer" href="/views/products.html">Catálogo</a></li>
                        <li class="footer-item"><a class="enlaces-footer" href="/views/cart.html">Carrito</a></li>
                        <li class="footer-item"><a class="enlaces-footer" href="/views/login.html">Iniciar Sesión / Registrarse</a></li>
                    </ul>
                </div>
                <div class="footer2">
                    <ul class="list-footer2">
                        <h2 > Ayuda </h2>
                        <li class="footer-item"><a href="#" class="enlaces-footer">Cambios y devoluciones</a></li>
                        <li class="footer-item"><a href="#" class="enlaces-footer">Términos y condiciones</a></li>
                        <li class="footer-item"><a href="#" class="enlaces-footer">Política de privacidad</a></li>
                        <li class="footer-item"><a href="#" class="enlaces-footer">Información sobre envíos</a></li>
                    </ul>
                </div>
            </div>
                
                <div class="footer3">
                    <ul class="list-footer-icons">
                        <li class="footer-icon"><a href="#" class="enlaces-footer-redes"> <i class="fa-brands fa-instagram"></i></a></li>
                        <li class="footer-icon"><a href="#" class="enlaces-footer-redes"> <i class="fa-brands fa-facebook"></i></a></li>
                        <li class="footer-icon"><a href="#" class="enlaces-footer-redes"> <i class="fa-solid fa-envelope"></i></a></li>
                        <li class="footer-icon"><a href="#" class="enlaces-footer-redes"> <i class="fa-brands fa-whatsapp"></i></a></li>
                    </ul>
                </div>
        </section>
        <div class="marca-registrada">
            <h1>
                Copyright © 2022 Digital Deco House ®
            </h1>
        </div>
    </footer>
</body>
</html>