/*
.fotografia{
    background-image: url(../images/sillon-amarillo.jpeg);
    background-position: center center;
    background-size: 100vh;
}
*/

/* -------- Global* -------------*/

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
margin: 0;
}

/* /HEADER/ */

.parte-top{
    background-image: url(../images/sillon-gris.jpg);
    background-position: center;
    background-size: cover;
    height: 235px;
}

/*HEADER*/
.main-header  {
    
}

.primera-linea{
    display: flex;
    justify-content: space-around;
}

.fa-address-card,
.fa-cart-shopping,
.fa-house,
.fa-arrow-right{
    display: none;
}

.listado-top{
    display: none;
    align-items: center;
}

.iconos-top-mobile {
    border: solid green 2px;
    width: 60%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    color: rgb(25, 0, 106);
}

.iconos-top-mobile li {
    margin: 10px;
}

.logo{
    width: 75px;
     
}

.listado-top ul{
    font-size: 10px;
    display: flex;
    justify-items: center;
    list-style: none;
    width: 100%;
    padding-left: 10px;
}

.listado-top li{
    margin: 0 2px;
    text-transform: none;
    color: rgb(25, 0, 106);
}
.segunda-linea {
    border: rex 1px solid;
}

.segunda-linea h5{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    }
    
    




/*Comienza MAIN*/

.el-main nav{
    margin-bottom: 20px;
    margin-right: 0%;
}

.cuotas h6{
    font-size: 10px;
    text-align: center;
    margin: 15px;
    border-bottom: black 1px solid;
    padding: 5px;
}

.productosdestacados p{
    text-align: center;
    margin: 7px;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 20px;
}

.productos{
    text-align: center;
}

.productos img{
    border: solid 1px black;
}

.productos img{
    width: 85vw;
    height: 67vw;
    max-width: 200px;
    max-height: 180px;
    margin: auto;
}

.imagenes{
    align-items: center;
    align-content: center;
}

.fa-truck {
    color: rgb(25, 0, 106);
    border: solid 1px rgb(25, 0, 106);
    border-radius: 50%;
    font-size: 15px;
    padding: 3px;
    animation: rotate 5s linear infinite alternate;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg)
    }
    100%{
        transform: rotate(360deg)
    }
}

.descripcion{
    display: flex;
    justify-content: center;
    align-items: center;
}

.descripcion p{
    margin-right: 4px;
    font-weight: bold;
    font-size: 12px;
}

/* VISTA LOGIN MOBILE */

.formulario-login, 
.formulario-registrarse {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
}

.formulario-registrarse {
    background-color: rgb(233, 233, 233);
}

.boton-login,
.boton-registrarse {
    margin: 16px;
    border: none;
    border-bottom: solid 0.5px grey;
    outline: none;
    width: 90%;
    margin-bottom: 26px;
    padding: 17px 0px;
}

.boton-registrarse {
    background-color: rgb(233, 233, 233);
}

.formulario-login a {
    text-decoration: none;
}

.formulario-login p,
.formulario-registrarse p {
    font-size: 14px;
    color: grey;
}

.formulario-login p {
    margin-left: 10px;
}

.formulario-login h2,
.formulario-registrarse h2 {
    margin-right: 105px;
}

.formulario-registrarse p {
    margin-right: 23px;
}

.boton-login-registrar {
    width: 70%;
    padding: 10px;
    margin-bottom: 50px;
    font-size: 12px;
    border-radius: 0.5em;
    border: none;
    background-color: rgb(9, 1, 36);
    color: white;
}

.div-beneficios {
    padding: 33px;
    margin: 8px;
    line-height: 2em;
}

.cartas-beneficios {
    text-align: center;
    padding: 70px;
}

.cartas-beneficios i {
    font-size: 36px;
}

.cartas-beneficios h2 {
    font-size: 16px;
    font-weight: bold
}

.cartas-beneficios p {
    font-size: 16px;
    font-weight: 100;
    color: grey;
}

/* /----Comienza FOOTER-----/ */

footer {
    background-color: rgb(16, 1, 66);
}

.contenedor-top-footer {
    display: flex;
    flex-direction: column;
    padding-top: 25px;
}

.footer1,
.footer2,
.footer3{
    padding: 15px 0;
}

.list-footer1, 
.list-footer2 {
    line-height: 26px;
}

.footer1 ul,
.footer2 ul {
    padding: 0;
}

.footer1 li,
.footer2 li{
    list-style: none;
    font-size: 12px;
}

.footer-item {
    text-align: center;
}

.list-footer2 h2,
.list-footer1 h2 {
    text-align: center;
    color: white;
}

.enlaces-footer{
    color: grey;
    text-decoration: none;
    font-size: 15.5px;
}

.marca-registrada {
    background-color: rgb(9, 1, 36);
    padding: 20px;
}

.marca-registrada h1{
    font-size: 13px;
    text-align: center;
    color: white;
    padding-bottom: 15px;
}

/*.footer3 {
    width: 100%;
}*/

.list-footer-icons {
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.enlaces-footer-redes {
    color: white;
}

.list-footer-icons i {
    font-size: 28px;
}

@media (min-width: 500px) {

    /*HEADER -----------------*/

    .parte-top{
        background-position: center;
        background-size: cover;
        height: 330px;
        padding: 15px
    }

    .logo{
        width: 110px;
        height: 110px;;
    }

    .listado-top li {
        margin-left: 12px;
        font-size: 12px;
        display: flex;
    }
   
    .fa-address-card,
    .fa-cart-shopping,
    .fa-house,
    .fa-arrow-right{
        display: block;
        font-size: 12px;
        padding-left: 5px;
        color: rgb(25, 0, 106)
    }

    .welcome,
    .borde-bajo{
        font-size: 15.5px;
        letter-spacing: 1px;
    }   

    .borde-bajo{
        font-weight: 400
    }

    /* /MAIN -----------------/ */

    .el-main h6 {
        font-weight: bold;
        font-size: 11px;
    }

    .productosdestacados {
        letter-spacing: 1px;
    }

    .productosdestacados p{
        font-size: 22px;
        color: rgb(25, 0, 106);
    }

    .imagenes img {
        max-width: 255px;
        max-height: 215px;
        transition: transform 750ms; 
    }

    .imagenes img:hover {
        transform: scale(1.1);
    }

    .descripcion p {
        font-size: 13.5px;
        letter-spacing: 1.5px;
    }

    .descripcion i {
        font-size: 16.5px;
    }

     /* /FOOTER -----------------/ */

    .list-footer1 li,
    .list-footer2 li{
        font-size: 18.5px;
        opacity: 0.8;
    }

    .list-footer-icons i {
        font-size: 34px;
    }

    .marca-registrada h1{
        font-size: 17px;
        padding-top: 15px;
        padding-bottom: 20px;
        letter-spacing: 0.5px;
    }
}

@media (min-width: 760px){

    /*HEADER -----------------*/

    .parte-top{
        background-image: url(../images/sillon-amarillo-2.JPG);
        background-position: center;
        background-size: cover;
        height: 390px;
        max-height: 390px;
    }

    .logo{
        width: 125px;
        height: 115px;
        animation: aumentologo 2500ms ease-out infinite alternate;
    }

    
@keyframes aumentologo {
    0% {
        transform: scale(0.8);
    }
    50% {
        transform: scale(1.1);
    }
    100%{
        transform: scale(1.3);
    }
    } 
    .listado-top li {
        margin-left: 15px;
        font-size: 14px;
        display: flex;
    }

    .segunda-linea{
        display: none;
    }

    /* /MAIN -----------------/ */

    .el-main h6 {
        font-size: 13px;
        letter-spacing: 1px;
        padding-bottom: 10px;
    }

    .productosdestacados p {
        padding-top: 15px;
    }

    .ocultando-imagen{
        display: none;
    }

    .contenedor-img{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .imagenes{
        margin-right: 55px;
        margin-top: 35px;
        margin-bottom: 30px;
    }

    .imagenes img {
        max-width: 275px;
        max-height: 230px;
    }

    .fa-truck {
        animation: none;
    }

     /* /FOOTER -----------------/ */

    .footer1{
        margin-left: 30px;
    }

    .footer-item{
        margin-top: 3.5px;
    }

    .footer3{
        display: flex;
        width: 15%;
        align-items: center;
        justify-content: center;
    }

    .list-footer-icons{
        display: flex;
    }

    .list-footer-icons li{
        margin-left: 5px;
    }
    /*MAIN -----------------*/

    .el-main h6 {
        font-size: 13px;
        letter-spacing: 1px;
        padding-bottom: 10px;
    }

    .productosdestacados p {
        padding-top: 15px;
    }

    .ocultando-imagen{
        display: none;
    }

    .contenedor-img{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .imagenes{
        margin-right: 55px;
        margin-top: 35px;
        margin-bottom: 30px;
    }

    .imagenes img {
        max-width: 275px;
        max-height: 230px;
    }

    .fa-truck {
        animation: none;
    }

     /*FOOTER -----------------*/

    .footer1{
        margin-left: 30px;
    }

    .footer-item{
        margin-top: 3.5px;
    }

    .footer3{
        display: flex;
        width: 15%;
        align-items: center;
        justify-content: center;
    }

    .list-footer-icons{
        display: flex;
    }

    .list-footer-icons li{
        margin-left: 5px;
    }
}

@media (min-width: 960px){

    /*--HEADER -----------------*/

    .parte-top{
        height: 500px;
        max-height: none;
    }

    .primera-linea{
        justify-content: space-evenly;
    }

    .listado-top ul {
        margin-left: 30px;
        padding-left: 35px;
    }

    .listado-top li,
    .listado-top a {
        font-size: 16px;
    }

    /*--MAIN -----------------*/

    .cuotas h6,
    .productosdestacados {
        opacity: 0.8;
        animation: movimiento 2200ms alternate 20 linear;
    }

    @keyframes movimiento{
        0% {
            transform: translateY(-30%);
        }
        50%{
            transform: translateY(-10%);
        }
        75%{
            transform: translateY(10%);
        }
        100% {
            transform: translateY(25%);
        }
    }

    .imagenes{
        margin: 45px 60px;
    }

    .imagenes img{
        max-width: 295px;
        max-height: 250px;
    }

    .descripcion p{
        padding-top: 10px;
    }

    .descripcion p{
        opacity: 0.7;
        font-size: 15.5px;
    }

    .descripcion i{
      font-size: 17px;
      padding: 4px
    }

     /*--FOOTER -----------------*/

    .contenedor-top-footer{
        justify-content: space-around;
        padding: 10px;
    }

    .footer-item{
        margin-top: 5px;
    }

    .footer-item a {
        font-size: 16.5px;
    }

    .list-footer-icons li {
        margin-left: 16px;
    }

    .list-footer-icons a {
        font-size: 24px;
    }

    .marca-registrada {
        padding-top: 15px;
    }

    .marca-registrada h1{
        font-size: 17px;
        letter-spacing: 1.5px;
        opacity: 0.8;
        padding-bottom: 30px;
    }
}

@media (min-width: 1200px){

    /*HEADER -----------------*/

    .parte-top{
        height: 560px;
    }

    @keyframes aumentologo {
        0% {
            transform: scale(0.9);
        }
        50% {
            transform: scale(1.2);
        }
        100%{
            transform: scale(1.5);
        }
    }

    .listado-top{
        margin-left: 25px;
    }

    .listado-top ul {
        margin-left: 70px;
    }

    .listado-top li{
        margin-left: 17px;
    }

    .listado-top i{
        font-size: 15px;
    }

    .listado-top a {
        font-size: 18px;
    }

    /*MAIN -----------------*/

    .cuotas h6{
        font-size: 15.5px;
    }

    .productosdestacados p{
        font-size: 25px
    }

    .imagenes{
        margin: 70px 80px;
    }

    .imagenes img{
        max-width: 320px;
        max-height: 280px;
    }

    .descripcion p{
        padding-top: 12px;
    }

    .descripcion p{
        opacity: 0.8;
        font-size: 17px;
    }

    .descripcion i{
      font-size: 18px;
      padding: 4.5px
    }


    /* VISTA LOGIN  */
    .div-formularios-monitor {
        display: flex;
        padding-bottom: 20px;

    }
    .formulario-login,
    .formulario-registrarse {
        width: 100%;
        border: green 2px solid;
        padding-bottom: 233px;
    }

    .boton-login,
    .boton-registrarse {
        margin-top: 45px;
        margin-bottom: 20px;
        width: 50%;
    }
    .boton-login-registrar {
        width: 50%;
        margin-top: 40px;
    }

    .cartas-beneficios {
        display: flex;
        margin-bottom: 50px;
    }
    /*FOOTER -----------------*/

    .contenedor-top-footer {
        padding-top: 55px;
    }

    .footer-item{
        margin-top: 7.5px;
    }

    .footer-item a {
        font-size: 18px;
        padding: 6px;
    }


}

/*vista de carrito mobile*/

.caja-de-opciones {
box-sizing: content-box;
background-color: rgb(255, 255, 255);
color: white;
padding: 500px;
text-align: center;



}

.opciones-box{
position: relative;
box-sizing: content-box;
background-color: rgb(63, 111, 133);
padding: 100px;
bottom: 1350px;
opacity: 70%;

}

.opciones-dentro-box {
   
    display: flex;
    font-size: 24px;
    justify-content: space-around;
    position: relative;
    padding-bottom: 1250px;
    
}